<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="nav">
    <div class="container" style="margin-top: 5px;">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="index.html" th:href="@{/book/index}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
            </li>
            <li class="layui-nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">图书分类</a>
                <ul class="layui-nav-child">
                    <li>
                        <a href="books_list.html" th:href="@{/book/bookList(category=1)}">小说类</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="books_list.html" th:href="@{/book/bookList(category=2)}">科技类</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="books_list.html" th:href="@{/book/bookList(category=3)}">其他类</a>
                    </li>
                    <li class="divider"></li>
                </ul>
            </li>

            <li class="layui-nav-item">
                <a href="order_list.html" th:href="@{/order/list}">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;我的订单<span class="layui-badge-dot"></span>
                </a>
            </li>

            <li class="layui-nav-item">
                <a href="cart.html" th:href="@{/cart/list}">
                    <span class="glyphicon glyphicon-shopping-cart"> </span>&nbsp;购物车<span class="layui-badge-dot"></span>
                </a>
            </li>

            <li class="layui-nav-item">
                <a th:href="@{/user/userInfo}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;个人</span>
                </a>
                <ul class="layui-nav-child">
                    <li th:if="${session.user == null}">
                        <a data-target="#loginModal" data-toggle="modal" href="#">登录</a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="javascript:void(0)" th:text="${session.user.username}"></a>
                    </li>
                    <li th:if="${session.user == null}">
                        <a data-target="#register" data-toggle="modal" href="#">注册</a>
                    </li>
                    <hr>
                    <li style="text-align: center;">
                        <a th:href="@{/user/logout}" data-toggle="modal">&nbsp;退出账号</a>
                    </li>
                </ul>
            </li>

        </ul>

        <div class="input-group pull-right" style="positon:relative;width: 234px;padding: 20px">
            <input class="form-control" id="inputBookName" placeholder="书名、作者、简介" type="text"/>
            <span class="input-group-btn">
                <button class="btn btn-info btn-search" th:onclick="searchBookName()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>

</header>
